# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
.env

# Tools
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/

# Project outputs
gutendocx/out/
reports/
Uploads/
output/
